.sign-in-up {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
.option {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 15px;
  cursor: pointer;
}
